.mainbar{
    padding: 10px 0px;
}
.logo{
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;

}

.user-menu{
    list-style: none;
    padding: 0px;
    margin: 0px;
}


.user-menu li{
    display: inline-block;
    margin-right: 10px;
}

.user-menu li a{
    color: #000;
    text-decoration: none;
}